body{
  color: #414141; /*Dark grey*/
  background-color: #EEEEEE; /*Light gray*/
}

h1{
  font-size: 36px;
}

h2{
  font-size: 28px;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Helvetica", "Arial", sans-serif;
  /*The browser would first try to load Helvetica and if the user doesn't have it,
  then it would fallback to Arial and if nothing then the system's default
  sans serif font*/
  font-weight: normal;
}

ul{
  list-style-type: circle;
}

ol{
  list-style-type: lower-roman;
}

/*a
{
  text-decoration: none;
}*/

p{
  text-align: left;
}
/*Always a good idea to use root-relative paths when linking global stylesheets
to avoid problems in nested pages.*/
